pytz
namex
libclang
flatbuffers
wrapt
wheel
urllib3
typing-extensions
termcolor
tensorboard-data-server
soupsieve
six
setuptools
PySocks
pygments
protobuf
Pillow
packaging
opt-einsum
numpy
mdurl
MarkupSafe
markdown
lz4
joblib
itsdangerous
idna
grpcio
gast
filelock
colorama
charset-normalizer
certifi
blinker
Werkzeug
tqdm
requests
python-dateutil
optree
opencv-python
mtcnn
ml-dtypes
markdown-it-py
Jinja2
h5py
gunicorn
google-pasta
fire
click
beautifulsoup4
astunparse
tensorboard
rich
pandas
Flask
keras
gdown
flask-cors
tensorflow-intel
tensorflow
retina-face
deepface